<a href="https://colab.research.google.com/github/vnelio/Aula01/blob/master/AcaoPETR4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

# Analisando Preços das Ações da Petrobrás - PETR4

In [2]:
import plotly
import plotly.offline as py

In [3]:
# Habilita o modo offline
from plotly.offline import plot, iplot
plotly.offline.init_notebook_mode(connected=True)

In [5]:
import pandas as pd
df = pd.read_csv("sample_data/PETR4.SA.csv")

In [6]:
df.head()

         Date       Open       High  ...      Close  Adj Close      Volume
0  2020-01-02  30.510000  30.700001  ...  30.700001  30.697731  37774500.0
1  2020-01-03  30.879999  31.240000  ...  30.450001  30.447748  71595600.0
2  2020-01-06  30.430000  30.940001  ...  30.809999  30.807720  81844000.0
3  2020-01-07  30.820000  30.879999  ...  30.690001  30.687731  32822000.0
4  2020-01-08  30.690001  30.770000  ...  30.500000  30.497744  48215600.0

[5 rows x 7 columns]